body {
    background: rgba(214, 220, 223, 0.425);
    font-family: sans-serif, Arial, Helvetica;
}

.assignment {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: lightgray;
}

.assignment img {
    width: 300px;
    padding: 10px;
}

h1 {
    color: dimgrey;
    text-align: center;
}